<div class="create-container">

    
    <form class="new-form" action="/<%= employee.id %>?_method=PUT" method="POST">
        <div class="grid-row">
            <label class="label-header">Full Name</label>
            <input class="label-input" type="text" name="fullName" value="<%= employee.fullName %>">
        </div>
        
        <div class="grid-row">
            <label class="label-header">Email</label>
            <input class="label-input" type="text" name="email" value="<%= employee.email %>">
        </div>
        
        <div class="grid-row">
            <label class="label-header">Mobile no.</label>
            <input class="label-input" type="number" name="mobile" value="<%= employee.mobile %>">
        </div>
        
        <div class="grid-row">
            <label class="label-header">City</label>
            <input class="label-input" type="text" name="city" value="<%= employee.city %>">
        </div>
        
        <div class="btn-row">
            <button class="btn btn1" type="submit">Update</button>
            <a class="btn btn2" href="/">Cancel</a>
        </div>
    </form>
    
</div>

